body {
    color: #000000;
    font-family: Sans-Serif;
    padding: 30px;
    background-color: #f6f6f6;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #EEF1F4
}

/* Dropdown */

.dropdown {
    display: inline-block;
    position: relative;
}

.dd-button {
    display: inline-block;
    /* border: 1px solid gray; */
    padding: 10px 55px 10px 55px;
    cursor: pointer;
    white-space: nowrap;
    color: #fff;
    background: #0070B4;
    border-radius: 31px;
}

.dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}

.dd-button:hover {
    background-color: #055b90;
}


.dd-input {
    padding-bottom: 10px;
    padding-top: 10px;
    display: none;
}

.dd-menu {

    margin-top: 16px !important;
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dd-input+.dd-menu {
    display: none;
}

.dd-input:checked+.dd-menu {
    display: block;
}

.dd-menu li {
    padding: 10px 20px;
    white-space: nowrap;
}

.dd-menu li:hover {
    background-color: #EEF1F4;

}


.dd-menu::after {
    content: '';
    width: 12px;
    height: 12px;
    border: 1px solid transparent;
    border-bottom-color: #d3dae1;
    border-left-color: #d3dae1;
    background-color: #fff;
    position: absolute;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 24px;
    top: -7px;
}

.dd-menu .active {
    border-left: 5px solid #0070B4;

}

.dd-menu .disabled {
    color: #7F7F7F;

}

.dd-menu .hover {
    background-color: #EEF1F4;

}


/* All the states e.g focus, hover, active, disabled etc should be covered. */